.Python
.DS_Store
pip-log.txt
pip-delete-this-directory.txt
Gateway/lib/*.pyc
Gateway/lib/__pycache__
Gateway/lib/routers/*.pyc
Gateway/lib/routers/__pycache__
Server/lib/*.pyc
Server/lib/__pycache__
